
.menu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;

    &:last-of-type{
    padding-bottom: 0;
        margin-bottom: 0;
        border: 0;
    }
    &__info{
        display:flex;
        flex-direction: column;

        &-title{
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 5px;
        }
        &-path{
            opacity: 0.6;
        }
    }
    &__options{

    }
}