.footer-cont{
    position: relative;
    bottom: 0;
    width: 60%;
    margin: auto;
    height: 60px;
    color: white;
}

.footer-icons{
    position: relative;
    bottom: 0;
    width: 60%;
    margin: auto;
    height: 60px;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    align-items: center;

}

.p-created{

    font-weight: 500;
    color: white;
    position: relative;
    top: 5px;
}


.link-color{
    color: white;
}