.admin-menu{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}

.items{
    width: 100%;
    margin: auto;
    object-fit: cover;
}

.items-cont{
    width: 100%;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
}
.items-cont-active{
    width: 100%;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #8f94ff;
    border-left: white solid 5px;

}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    /* tus estilos para pantallas pequeñas */
    .admin-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }
    .items-cont{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 20px;
    }
    .items{
        width:19px;
        object-fit: cover;
    }

  }

  @media  only screen and (min-width: 480px) and (max-width: 769px) {

  }






